<!-- start custom head snippets -->
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/asciinema-player.css' | relative_url }}" />
<link rel="preload" href="{{ '/assets/fonts/ibm-plex-mono-latin-400-normal.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
<meta name="theme-color" content="#fdfcf9">


<meta name="google-site-verification" content="zHGBrUxJRVpC-GKZETaHm-HsF0imsOeOYPDxsKbMw5E" />
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
